<div class="mx-auto">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-md">
        <a class="navbar-brand" href="/"><img src="assets/images/acs.png" style="width:150px; height:100px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav justify-content-between d-flex ">
                <li class="nav-item active">
                    <a class="mx-5 fw-bold text-muted text-dark fs-1 nav-link">
                        <h1>ACADEMIC <strong style="color:#0089ba;">SCOPE</strong></h1>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mx-5">
                <li class="nav-item mx-5">
                    <button type="button" class="text-light btn btn-md" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" style="outline: 1px solid white">Contact</button>
                </li>
            </ul>
        </div>
    </nav>
</div>