<div class="n">
    <nav class="navbar navbar-expand-sm navbar-light shadow-md" style="background-color:#0089ba;">
        <a class="navbar-brand active mx-5" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="text-white fs-5 nav-link" routerLink="#">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="text-white fs-5 nav-link" routerLink="#" href="#">Services</a>
                </li>
                <li class="nav-item active">
                    <a class="text-white fs-5 nav-link" routerLink="#" href="#">Project</a>
                </li>
                <li class="nav-item active">
                    <a class="text-white fs-5 nav-link" routerLink="#" href="#">Client</a>
                </li>
                <li class="nav-item active">
                    <a class="text-white fs-5 nav-link" routerLink="news" href="#">News</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mx-5">
                <li class="nav-item mx-5">
                    <button type="button" class="text-light btn btn-md" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" style="outline: 1px solid white">Contact</button>
                </li>
            </ul>
        </div>
    </nav>
</div>