<div class="container pt-5" style="background-color:#f0f5f8">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body border-0">
                    <div class="d-flex justify-content-center mb-3">
                        <img src="assets/images/service.svg" style="width:150px; height:100px;">
                    </div>
                    <h1 class="card-title text-center text-muted">Services</h1>
                    <p class="card-text text-center">
                        Preparation Of Client’s Brief, <br>
                        Cost Planning, Preparation Of Bills Of Quantities
                    </p>
                </div>
                <hr>
                <div class="card-footer bg-white border-0 d-flex justify-content-between">
                    <span class="text-muted"><i class="bi bi-cursor"></i></span>
                    <a href="#" class="btn text-white btn-outline-default btn-md button-color">READ MORE</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body border-0">
                    <div class="d-flex justify-content-center mb-3">
                        <img src="assets/images/project.svg" style="width:150px; height:100px;">
                    </div>
                    <h1 class="card-title text-center text-muted">Project</h1>
                    <p class="card-text text-center">
                        Preparation Of Client’s Brief, <br>
                        Cost Planning, Preparation Of Bills Of Quantities
                    </p>
                </div>
                <hr>
                <div class="card-footer bg-white border-0 d-flex justify-content-between">
                    <span class="text-muted"><i class="bi bi-cursor"></i></span>
                    <a href="#" class="btn text-white btn-outline-default btn-md button-color">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body border-0">
                    <div class="d-flex justify-content-center mb-3">
                        <img src="assets/images/location.svg" style="width:150px; height:100px;">
                    </div>
                    <h1 class="card-title text-center text-muted">Location</h1>
                    <p class="card-text text-center">
                        We Have Qualifications And Experience In Project Management, <br>
                        That Will Be Used For The Benefit Of The Project As Value Added Service.
                    </p>
                </div>
                <hr>
                <div class="card-footer bg-white border-0 d-flex justify-content-between">
                    <span class="text-muted"><i class="bi bi-cursor"></i></span>
                    <a href="#" class="btn text-white btn-outline-default btn-md button-color">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-outline-default" style="color: #0089ba;">View More Available Services</button>
    </div>
</div>