<app-find></app-find>
<div class="container pt-5" style="background-color:#f0f5f8">
    <div></div>
    <div class="text-center mt-4">
        <div class="welcome">
            <h1 class='text-muted'>Welcome to ACADEMIC <strong style="color:#0089ba;">SCOPE</strong></h1>
        </div>
        <button class="btn btn-outline-secondary">ACADEMIC SCOPE <br> is an established Quantity Surveying practice firm
            incorporated by Corporate Affairs Commission on 20th November 1995 to undertake commissions for Consultancy
            and Professional services. As a major player in construction industry, the services provided are completely
            comprehensive from inception, briefing and feasibility stages
            to the supervision and administration of contracts including commissioning and handling over.
        </button>
    </div>
    <!-- <our location  -->
    <div class="row pt-5 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="h-10 border-0 shadow-sm">
                <div class="image-center justify-content-center">
                    <img class="text-center" src="assets/images/location.svg" style="width:200px; height:150px;">
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-center">
                    <a href="#" class="btn btn-md text-muted">OUR LOCATION</a>
                </div>
            </div>
        </div>
        <!-- Gallary  -->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="h-10 border-0 shadow-sm">
                <div class="image-center justify-content-center">
                    <img class="text-center" src="assets/images/location.svg" style="width:200px; height:150px;">
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-center">
                    <a href="#" class="btn btn-md text-muted">GALLARY</a>
                </div>
            </div>
        </div>
        <!-- News -->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="h-10 border-0 shadow-sm">
                <div class="image-center justify-content-center">
                    <img class="text-center" src="assets/images/news.svg" style="width:200px; height:150px;">
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-center">
                    <a href="#" class="btn btn-md text-muted">NEWS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer  -->
<div>
    <app-footer></app-footer>
</div>